.header-logo a {
    text-decoration: none !important;
    font-size: 22px;
    font-weight: bold;
}

section.section {
    margin: 0;
    padding: 4rem 0;
    border: 0;
}

#notifications {
    padding: 0;
    margin: 0;
}

#notifications li {
    list-style: none;
    border-radius: 12px;
    font-size: 0.85rem;
    border-bottom: 1px solid #F1F6F9;
    padding: 0.75rem 1rem;
    color: #212529;
}

#notifications li:last-child {
    border: 0;
}

#notifications li .date {
    display: block;
    color: #666;
    font-size: .70rem;
}

#viewMoreMembers a::after {
    content: '>';
    transform: translate3d(0, -50%, 0) rotate(0deg);
}

.core-committee-photo {
    min-height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.core-committee-assistants-photo,
.executive-committee-photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.core-committee-assistants-photo {
    min-height: 150px;
}

.executive-committee-photo {
    height: 110px;
    width: 110px;
    border-radius: 100%;
    display: block;
    margin: 15px;
}

.mr-2 {
    margin-right: 5px;
}

.min-height-200px {
    min-height: 12rem;
}

.min-height-300px {
    min-height: 18rem;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 568px) {
    .mb-xs-1 {
        margin-bottom: 5px;
    }
    
    .mb-xs-4 {
        margin-bottom: 15px;
    }
}